.ConfigurationItem {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .ConfigurationItem:hover .icon {
    transform: scale(1.1);
    color: var(--primary-color);
  }
  
  .ConfigurationItem:hover .text {
    font-size: 0.9rem;
    color: var(--primary-color);
  }
  
  .icon {
    margin: 3%;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .text {
    font-size: 0.8rem;
    font-weight: bold;
    list-style-type: none;
    white-space: nowrap;
    transition: font-size 0.3s ease, color 0.3s ease;
  }
  
  .selected .icon,
  .selected .text {
    color: var(--primary-color);
  }
  