.LoginTitle {
    color: #ff00ff;
    padding-bottom: 1.5%;
    text-align: center;
}

.fields {
    display: flex;
    align-items: center;
    padding: 1.5%;
    margin-bottom: 1rem;
}

.fields label {
    color: white;
    font-weight: 600;
    margin-right: 1rem;
    font-size: 1rem;
    white-space: nowrap; /* Impede a quebra de linha na label */
}

.fields input {
    width: 50%;
    height: 1.5rem;
    font-size: .8rem;
    border: none;
    outline: none;
    background-color: #121212;
    border-radius: 3vw;
    padding: 0.8rem;
}

.submitField {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.submit {
    width: 15%;
    height: 1.2rem;
    font-size: .8rem;
    border: none;
    outline: none;
    border-radius: 2vw;
    background: #ff00ff;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.submit:hover {
    transform: scale(1.1);
    background: #ee00ee;
}
