.LoginTitle {
    color: var(--primary-color);
    padding-bottom: 1.5%;
    text-align: center;
}

.fields {
    display: flex;
    align-items: center;
    padding: 1.5%;
    margin-bottom: .5rem;
    width: 100%; 
}

.fields label {
    color: var(--text-color);
    font-weight: 600;
    margin-right: 1rem;
    font-size: 1rem;
    white-space: nowrap;
    width: 30%; 
}

.fields input {
    width: 50%;
    height: 1.5rem;
    font-size: 0.8rem;
    border: none;
    outline: none;
    background-color: var(--bg);
    border-radius: 3vw;
    padding: 0.8rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.fields input:hover {
    background-color: var(--btn);
    transform: scale(1.02);
}

.fields input:focus {
    background-color: var(--btn);
    transform: scale(1.05);
    outline: 2px solid var(--primary-color);
}

.submitField {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.submit {
    width: 15%;
    height: 1.2rem;
    font-size: .8rem;
    border: none;
    outline: none;
    border-radius: 2vw;
    background: var(--primary-color);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.submit:hover {
    transform: scale(1.1);
    background: var(--secondary-color);
}

.signupLink {
    text-align: center;
    margin-top: 1rem;
}

.signupLink p {
    font-size: .8rem;
}

.signup {
    color: var(--primary-color);
    font-weight: 600;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.signup:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

.forgotPasswordLink {
    text-align: center;
    margin-top: 1rem;
}

.forgotPasswordLink p {
    transform: scale(.8);
}

.forgotPassword {
    color: var(--primary-color);
    font-weight: 600;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.forgotPassword:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

.warning {
    align-self: flex-start;
    font-size: .5rem;
    color: red;
    font-weight: bold;
}
