.itemContainer {
    width: 12vw;
    height: 12vw;
    background-color: var(--background-color);
    border: 0.1vw solid var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
    position: relative;
    transition: transform 0.3s ease, border-color 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.itemContainer li {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.itemContainer li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 0.8rem;
    text-decoration: none;
    font-weight: bold;
    color: inherit;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
}

.itemContainer:hover {
    transform: scale(1.1);
    border-color: var(--primary-color);
}

.itemContainer:hover a {
    color: var(--primary-color);
}

.deleteButton {
    background: transparent;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    transition: color 0.3s ease;
    margin: 5%;
}

.deleteButton:hover {
    color: red;
}

.deleteButton i {
    font-size: 0.8rem;
    transition: color 0.3s ease;
}

.deleteButton:hover i {
    color: red;
}

@media (max-width: 1024px) {
    .itemContainer {
        width: 15vw;
        height: 15vw;
    }

    .itemContainer li a {
        font-size: 0.7rem;
    }

    .deleteButton i {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .itemContainer {
        width: 20vw;
        height: 20vw;
    }

    .itemContainer li a {
        font-size: 0.6rem;
    }

    .deleteButton i {
        font-size: 1.2rem;
    }
}
