.panelContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    background-color: var(--panel-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3%;
    z-index: 1000;
    overflow-y: auto;
    max-height: 80vh;
}

.header {
    display: flex;
    margin-bottom: 3%;
    width: 100%;
}

.header h1 {
    color: var(--primary-color);
    padding-bottom: 1.5%;
    font-size: 1.2rem;
    text-align: center;
    width: 90%;
}

.header button {
    margin-left: auto;
    border: none;
    outline: none;
    width: 4vw;
    height: 4vw;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: var(--primary-color);
    transition: transform 0.3s ease;
}

.header button:hover {
    transform: scale(1.1);
    background: var(--secondary-color);
}

.fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.fields label {
    color: var(--text-color);
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.fields input, .fields select {
    width: calc(100% - 2.5rem);
    height: 2.5rem;
    font-size: .8rem;
    border: none;
    outline: none;
    background-color: var(--bg);
    border-radius: 3vw;
    padding: 0.8rem;
    margin-top: 0.5rem;
    text-align: center;
    line-height: 2rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.fields input:hover, .fields select:hover {
    transform: scale(1.05);
}

.fields input:focus, .fields select:focus {
    background-color: var(--btn);
    transform: scale(1.05);
    outline: 2px solid var(--primary-color);
}

.categoryContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.categoryContainer select {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    font-size: .8rem;
    padding: 0.8rem;
}

.addButton {
    border: none;
    outline: none;
    background: var(--primary-color);
    width: 1.5rem;
    height: 1.5rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    transition: background 0.3s ease, transform 0.3s ease;
    margin-left: 0.5rem;
    transform: translate(0, 5%);
}

.addButton:hover {
    transform: scale(1.1);
    background-color: var(--secondary-color);
}

.subcategoryContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.subcategoryContainer select {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    font-size: .8rem;
    padding: 0.8rem;
}

.selectInput {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 0.8rem;
}

.submitField {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.submit {
    width: 25%;
    margin: 0.5rem;
    height: 1.8rem;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 3vw;
    background: var(--primary-color);
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

.submit {
    font-size: 0.8rem;
}

.submit:hover {
    transform: scale(1.1);
    background: var(--secondary-color);
}

.warning {
    align-self: flex-start;
    font-size: .5rem;
    color: red;
    font-weight: bold;
    line-height: .5;
}
