.ThemesFormContainer {
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .ThemesTitle {
    color: var(--primary-color);
    font-size: 1.1rem;
  }
  
  .themes {
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .ThemeItem {
    margin: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .ThemeItem.selected {
    border: 2px solid var(--primary-color);
    padding: 1rem;
  }
  
  .Buttons {
    display: flex;
    justify-content: center;
  }
  
  .submit {
    border: none;
    outline: none;
    width: auto;
    height: 2rem;
    border-radius: 2vw;
    padding: 5%;
    font-size: .8rem;
    color: var(--text-color);
    white-space: nowrap;
    background-color: var(--primary-color);
    transition: transform 0.3s ease;
  }
  
  .submit:hover {
    background: var(--secondary-color);
    transform: scale(1.1);
  }
  
  .deleteButton {
    background: transparent;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 1.2rem;
    transition: color 0.3s ease;
  }
  
  .deleteButton:hover {
    color: darkred;
  }
  