@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    font-family: "Quicksand", serif;

    text-align: center;
    text-shadow: -2px 2px 5px #0c000b42;
}

body{
    background-image: radial-gradient(circle at center,#0D0D0D, #070004);
    color: lightcyan;
    font-size: 20px;
}

main {
    background-color: #201e20;
    border-radius: 25px;
    box-shadow: 0px 0px 15px #fb00ffaf;

    width: 600px;
    padding: 20px;
    margin: auto;
}

h1 {
    background-color: #EF30F2;
    border-radius: 15px;
}

h2 {
    background-color: #A424A6;
    border-radius: 10px;
}

ul {
    padding-left: 0;
    padding-bottom: 25px;
}

li {
    text-align: left;
    list-style-type: none;
    margin: 20px;
}

a {
    display: block;
    color: aliceblue;
    font-size: 20px;
    padding: 5px 0;
}