.ThemeItem {
    width: 8vw;
    height: 8vw;
    aspect-ratio: 1 / 1;
    border: 0.2vw solid var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    margin: .5vw;
    transition: transform 0.3s ease;
}

.ThemeItem:hover {
    transform: scale(1.1);
}

.Title {
    position: absolute;
    font-size: .6rem;
    color: var(--text-color);
}

.deleteButton {
    background: transparent;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    margin-right: 5%;
    transition: color 0.3s ease;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .deleteButton:hover {
    color: red;
  }
  
  .deleteButton i {
    font-size: .8rem;
    transition: color 0.3s ease;
  }
  
  .deleteButton:hover i {
    color: red;
  }