@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

:root {
    --primary-color: #ff00ff;
    --secondary-color: #ee00ee;
    --bg: #121212;
    --background-color: #1e1e1e;  
    --panel-color: #1a1a1a;
    --btn: #292929;

    --text-color: darkgray;
    --shadow-color: rgba(0, 0, 0, 0.6);
}

* {
    text-align: center;
    text-shadow: -2px 2px 5px var(--shadow-color);
    font-size: 2vw;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}

body {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    background-color: var(--bg); 
    color: var(--text-color); 
}

main {
    margin: auto;
    width: 80%;
    border-radius: 2vw;
    background-color: var(--background-color);
    padding: 2%;
}